.homepage {
  margin-top: 0;
  background-image: url('../../../public/banner-bg.jpg');
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}
.txt-rotate > .wrap {
  border-right: 0.08em solid #666;
}

.homepage img {
  animation: updown 3s linear infinite;
}
@keyframes updown {
  0% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(-20px);
  }
}

.bodyhome{
    margin-left: 70px;
    margin-right: 60px;
}